.cart-list {
    display: grid;
    grid-auto-rows: 4rem;
    width: 100%;
    max-width: var(--width-constraint, 48rem);
    margin: 1rem auto;
    gap: 1rem;
}

.cart-list li {
    display: flex;
    align-items: center;
    flex: 1 1 auto;
    max-width: 100%;
    gap: 1.5rem;
}

.cart-list img {
    display: block;
    height: 100%;
    width: auto;
}

.cart-list .cart-price {
    margin-left: auto;
}

.cart-list .product-quantity {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.cart-list .product-quantity button {
    font-size: 1rem;
    line-height: 2;
    font-weight: bold;
    padding: 0;
    display: flex;
    width: 2rem;
    height: 2rem;
    align-items: center;
    justify-content: center;
    border: 0;
}