.product-wrapper {
    width: 100%;
    position: relative;
    box-shadow: rgba(0, 0, 0, .3) 0 0 0 1px;
    border-radius: 0.75rem;
}

.product-wrapper:not(.simple-detail-layout){
    height: 32rem;
    gap: 1rem;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.simple-detail-layout {
    margin: 1rem;
    width: calc(100% - 2rem);
}

.preview .product-details {
    opacity: 0;
}

button.preview {
    position: absolute;
    background-color: rgba(205,205,205,0.5);
    right: 0.25rem;
    top: 0.25rem;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    backdrop-filter: blur(5px);
}

.preview button.preview::before {
    content: '';
    position: absolute;
    height: 1.25rem;
    width: 2px;
    background-color: #000;
    display: block;
    transform: translate(-50%,-50%) rotate(45deg);
    transform-origin: center;
    top: 50%;
    left: 50%;
}

.product-details{
    background-color: #fff;
    grid-area: auto / 1 / 3;
    padding: 1rem;
    border-radius: 1rem;
    position: relative;
    display: grid;
    opacity: 1;
    transition: opacity 0.3s ease-out;
}

.product-wrapper img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    object-fit: contain;
    object-position: top;
    border-radius: inherit;
    max-width: calc(var(--width-constraint) /4);
}

.product-wrapper:not(.simple-detail-layout) img {
    grid-area: 1 / 1 / 3 / 2;
    max-width: 100%;
    width: auto;
    height: 100%;
}

.title{
    margin: 0.5rem 0;
}

.description{
    font-size: 0.825rem;
}

.category {
    position: absolute;
    bottom: 100%;
    left: 1rem;
    background-color: #5ADB;
    padding: 0.25rem 0.75rem;
    border-radius: 1rem;
    backdrop-filter: blur(5px);
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.625rem;
    letter-spacing: 0.125rem;
}

.price {
    position: absolute;
    bottom: 100%;
    right: 1rem;
    font-size: 1.5rem;
    color: #fff;;
    background-color: #5ADB;
    border-radius: 1rem;
    backdrop-filter: blur(5px);
    padding: 0.25rem 0.75rem;
}

.price::before {content: attr(data-currency);}

.actions{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0.5rem 0;
    gap: 0.5rem;
    position: relative;
}

/* #region Cart explosion*/
.cart-container {
    position: relative;
    /* display: inline-block; */
  }
  
  .add-to-cart {
    padding: .625rem 1.25rem;
    font-size: 1rem;
    background-color: var(--colour-primary);
    color: white;
    border: none;
    border-radius: .3125rem;
    cursor: pointer;
    position: relative;
  }
  
  .cart-explosion {
    position: absolute;
    top: 50%;
    right: 6rem;
    transform: translate(-50%, -50%);
    pointer-events: none;
  }
  
  .cart-icon {
    position: absolute;
    font-size: 1.5rem;
    color: var(--colour-primary);
    opacity: 1;
    animation: fadeAndExplode 1.5s ease-out forwards;
  }
  
  @keyframes fadeAndExplode {
    0% {
      transform: translate(0, 0) scale(1);
      opacity: 1;
    }
    100% {
      transform: translate(var(--x), var(--y)) scale(0.5);
      opacity: 0;
    }
  }
  
  
  .cart-0 {
    --x: -6.25rem;
    --y: -6.25rem;
  }
  
  .cart-1 {
    --x: 6.25rem;
    --y: -6.25rem;
  }
  
  .cart-2 {
    --x: -9.375rem;
    --y: 0rem;
  }
  
  .cart-3 {
    --x: 9.375rem;
    --y: 0rem;
  }
  
  .cart-4 {
    --x: -6.25rem;
    --y: 6.25rem;
  }
  
  .cart-5 {
    --x: 6.25rem;
    --y: 6.25rem;
  }
/* #endregion Cart explosion */

@media all and (min-width: 48rem) {
    .expanded .title {
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: calc(var(--column-width) - 4rem);
        width: 100%;
        overflow: hidden;
        display: block;
    }
}